

.azul {
  color: blue;
}
.grande {
  font-size: 20px;
}

#titulo-principal {
  text-align: center;
  color: red;
}
* {
  font-family: Arial, sans-serif;
}

.caja {
  width: 150px;
  height: 150px;
  background-color: lightgray
}

.sombra {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}


.tarjeta {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
}

#nombre {
  color: blue;
}

.rol {
  font-style: italic;
}
