/* Estilos base (MOBILE FIRST) */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: #333;
    color: white;
    padding: 10px;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
#hero{
    background-color: #f4f4f4;
    padding: 50px 20px;
}
#hero button, form button{
    background-color: #008cba;
    color:white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

}
#servicios{
    padding: 20px;
}
.servicio{
    background-color: #ddd;
    margin: 10px;
    padding: 15px;
}
.producto{
    background-color: #f4f4f4;
    margin: 10px;
    padding: 15px;
}
#contacto input, #contacto textarea{
    width: 80%;
    padding: 10px;
    margin: 5px 0;
}
/*  Tablet (>= 768px) */
@media (min-width: 768px) {
    #hero {
        padding: 80px;
    }

    .servicio {
        display: inline-block;
        width: 30%;
        margin: 1%;
    }
    .producto {
        display: inline-block;
        width: 20%;
        margin: 1%;
    }

    #contacto input, #contacto textarea {
        width: 60%;
    }
}

/*  Escritorio (>= 1024px) */
@media (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 15px 50px;
    }

    nav ul li {
        margin: 0 15px;
    }

    #hero {
        font-size: 1.5rem;
    }

    .servicio {
        width: 28%;
    }

    #contacto input, #contacto textarea {
        width: 40%;
    }
}
