.banner {
  text-align: center;
  padding: 50px;
  background: #f1f1f1;
}

.titulo {
  opacity: 0;
}

.subtitulo {
  opacity: 0;
  /* empieza después del título */
}

.cta {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  background: #e67e22;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
 /* empieza después */
}

@keyframes slideUp {
  
}

@keyframes blink {

}

